[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
autoflake = "*"

[packages]
fastapi = "*"
python-multipart = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
motor = "*"
boto3 = "*"
requests = "*"
email-validator = "*"
telesign = "*"
pyfcm = "*"
uvicorn = {extras = ["standard"], version = "*"}
websockets = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
